.navlink{
    color:black!important;
    margin: auto 10px auto 10px;
    text-decoration: none;
    font-size: 20px !important;
}
.navlink:hover{
    color: #4285F4 !important;
}
.navlink:active{
    color: orangered !important;
}
