.card {
    background-color: rgb(8, 69, 148) !important;
    margin: 100px 40px 0px 40px !important;
  
    border: 1px solid transparent !important;
    border-radius: 25px !important;
    overflow: hidden;
    color: whitesmoke;
  }
  .info-head {
    font-size: large;
    color: rgb(255, 211, 45);
  }
  
  .cover-greet {
    margin-top: 200px;
  }
  
  .caro-outer {
    margin-left: auto;
    margin-right: auto;
  }
  
  .caro {
    margin-top: 40px;
    margin-bottom: 100px;
    height: 600px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .quote-quote {
    margin-bottom: 100px;
  }
  
  img {
    background-size: cover;
  }
  
  blockquote {
    border-left: none;
  }
  
  .outer-quote-cont {
    display: flex;
    /* flex-flow: column wrap; */
  
    justify-content: space-evenly;
  }
  
  .quote-badge {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .quote-box {
    text-align: center;
    background-color: #96ccff;
    display: inline-block;
    border-radius: 1rem;
    padding: var(--spacing-medium);
    margin: var(--spacing-small);
    border-width: 0.25rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
  }
  
  .quotation-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
  }
  
  .quote-text {
    font-size: 19px;
    margin-top: -65px;
  }
  
  @media screen and (max-width: 1200px) {
    .caro {
      width: 900px;
      height: 600px;
    }
  }
  @media screen and (max-width: 992px) {
    .caro {
      width: 700px;
      height: 450px;
    }
  }
  @media screen and (max-width: 768px) {
    .caro {
      width: 600px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .caro {
      margin-top: 130px;
      width: 350px;
      height: 180px;
    }
  }












/* 
.cover-greet{
    margin-top: 200px;
} */

/* .caro-outer{
   margin-left: auto;
   margin-right: auto; 
} */

/* .caro{
    margin-top: 90px;
    margin-bottom: 100px;
    height: 600px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 25px;
    overflow: hidden;
} */

/* .quote-quote{
    background-color: transparent;
    border: 0.75em solid;
    padding: 0.75em;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
} */

/* .dd{
    display: block;
    text-align: center;
    background-color: #96CCFF;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    border-width: .25rem;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
} */



/* 
img{
    background-size: cover;
} */
/* 
blockquote{
    border-left:none
} */

/* .outer-quote-cont{
    display: flex;
    justify-content:space-evenly;

}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    text-align: center;
    background-color: #96CCFF;
    display: inline-block;
    border-radius: 1rem;
    padding: var(--spacing-medium);
    margin: var(--spacing-small);
    border-width: .25rem;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    flex-wrap: wrap;
} */
/* 
.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}

@media screen and (max-width:1200px) {
    .caro{
        width: 900px;
        height: 600px;
    }
}
@media screen and (max-width:992px) {
    .caro{
        width: 700px;
        height: 450px;
    }
}
@media screen and (max-width:768px) {
    .caro{
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width:600px) {
    .caro{
        margin-top: 130px;   
        width: 350px;
        height: 180px;
        
    }
} */
