.outerdiv {
    padding: .5rem;
    text-align: center;
    border: 1 solid white;
    border-radius: 25px 25px 0px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 70px auto 0px auto;
  }
  .f1 {
    text-align: center;
  }
  .adosar {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #3590e6;
    background-color: #96ccff;
    border-radius: 9999px;
    width: 400px;
    
  }
  